{% extends "base.html" %}

{% block content %}

<div class="container"> 
	<br>
	<div class="row">
		<div class="col s12 m10 offset-m1 l9 offset-l1">
            <p> {{ }} </p>
			<p>Google’s Material Design language focuses on simplicity in design and use of bold colors and Typography. With Material Design guidelines, Google aims to establish a unified experience across its platforms and wide variety of devices.
			</p>

			<p>View the detailed information and documentation regarding Material Design at its <a style="color:#26a69a;" href="http://www.google.com/design/spec/material-design/introduction.html" target="_blank"><strong>official website
			</strong></a> which provides guidelines on design and interaction fundamentals such as animation, color, typography, layout principles and structure, components and essential patterns.
			</p>

			<p>Material design enables app developers to switch android app themes to the new Material Theme along with new widgets and animations. Check this <a style="color:#26a69a;" href="http://developer.android.com/design/material/index.html" target="_blank">
					link</a> for details.
					</p>
			<p>Have a look at the <strong>Material Design </strong>Introductory video below which illustrates how Google’s own android apps adapt with this new design guideline. Also take a look at <a style="color:#26a69a;" href="http://www.google.com/design/spec/style/color.html#color-ui-color-palette" target="_blank">
				<strong>UI Color Palette</strong></a> and
				<a style="color:#26a69a;" href="http://www.google.com/design/spec/components/bottom-sheets.html#bottom-sheets-content" target="_blank">
				<strong>Components</strong></a></p>



		</div>
	</div>
</div>

{% endblock %}

