{% extends "base.html" %}

{% block content %}

<div class="container"> 
	<br>
	<div class="row">
        <form action="{{ url_for('post') }}" method="POST">
		<div class="col s12 m10 offset-m1 l9 offset-l1 card">
            {% if results %}
                <h5>{{ results }}</h5>
            {% endif %}
            <div class="input-field">
                <textarea id="blog-title" name="newtitle" class="materialize-textarea card-title"></textarea>
                <label for="blog-title">Title</label>
            </div>
            <div class="input-field">
                <textarea id="sub-title" name="subtitle" class="materialize-textarea"></textarea>
                <label for="sub-title">Short Description</label>
            </div>
            <div class="input-field">
                <textarea id="blog-content" name="content" class="materialize-textarea" style="min-height: 200px"></textarea>
                <label for="blog-content">Content</label>
            </div>
            <div class="card-action">
                <div class="input-field col s6" style="margin-top: 0px;">
                    <i class="material-icons prefix">account_circle</i>
                    <input id="icon_prefix" name="username" type="text" class="validate">
                    <label for="icon_prefix">Name</label>
                </div>
                <div class="right-align col s6" style="margin-top: 1rem">
                    <button class="btn waves-effect waves-light right-align" type="submit" name="action">Submit
                    <i class="material-icons right hide">cloud</i>
                    </button>
                </div>
            </div>
		</div>
        </form>
	</div>
</div>"

{% endblock %}

